[project]
name = "robot-assistant-chatbot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "langgraph>=1.0.4",
    "requests>=2.32.5",
]
